<div id="<%= dom_id link %>">
  <p>
    <strong>Url:</strong>
    <%= link.url %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link.slug %>
  </p>

  <p>
    <strong>Clicked:</strong>
    <%= link.clicked %>
  </p>

</div>
